@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.input {
  @apply border border-gray-200 rounded-lg px-3 py-2 bg-white text-sm focus:outline-none focus:ring-2 focus:ring-[#2563eb] transition w-full;
}

.input::placeholder, textarea::placeholder {
  color: #444 !important;
  opacity: 1;
  font-size: 15px;
  font-weight: 500;
}

.upload-box {
  @apply border-2 border-dashed border-[#2563eb] rounded-lg min-h-[80px] bg-white hover:bg-[#f5f8ff] transition;
}

select.input, .input[type="select"] {
  color: #222;
  background: #fff;
  font-size: 15px;
  font-weight: 500;
}

select.input option {
  color: #222;
  background: #fff;
  font-size: 15px;
  font-weight: 500;
}

select.input option[disabled] {
  color: #888;
  font-weight: 400;
}
